/*Styles for the Header Sec. and Links*/
header {
    background-color: #220b24;
    font-size: x-large;
    /*Source: Google Fonts*/
    font-family: 'Tangerine', Georgia, 'Times New Roman', Times, serif;
}

/*Google Font's CSS code*/
@font-face {
    font-family: 'Tangerine';
    src: url('Google_Tangerine/Tangerine-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tangerine';
    src: url('Google_Tangerine/Tangerine-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.tangerine-regular header {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;

}


/*Styles for Headers*/
h1,
h1 a,
h1 a:visited {
    font-family: 'Tangerine', Georgia, 'Times New Roman', Times, serif;
    color: #ffc680;
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 0px;
}

h1 a:hover {
    color: #fdebd7;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.085em;

}

h2 {
    /*Padding and Margins Need to be later removed
    Transfer to @Media Quieries
    Groups h2{} and h3{}*/

    margin-bottom: 0.2em;
    font-size: 3em;
}

h3 {
    color: #ff9a5b;
    font-size: 2em;
    margin-top: 0%;
}

.center-text {
    text-align: center;
    letter-spacing: 0.2em;
}


/*Styles for Navagation-------------------*/
nav {
    font-size: 125%;
    letter-spacing: 0.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ec7e99;
    background-color: #32204a;
}

nav a:link,
nav a:visited {
    color: #ec7e99;
    text-decoration: none;
}

nav a:hover {
    color: #ffc680;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}



/*Styles for General Links-------------------*/
a {
    text-decoration: none;
    color: rgb(104, 157, 255);
}



/*Class Sel. for a Elm*/
.next-link {
    display: inline-block;
    padding: 0.76em 1.5em;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px #ffc680;
    background-color: #d1476a;
    background-repeat: no-repeat;
    max-width: 10em;
    width: 100%;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    color: #f0bc88
}

.fancy-download-button {
    margin: 1em auto;
    width: 300px;
    height: auto;
    border: none;
    display: border-block;
    cursor: pointer;
    transition: filter 0.4s ease;
}

.fancy-download-button:hover {
    filter: brightness(1.1);
    transition: transform 0.2s ease;
    transform: translateY(-5px);

}

/*More effects for the button links */


.fancy-button-effect:hover {
    color: #fff;
    transform: translateY(-5px);
    transition: color 0.2s ease-out, 0.2s ease-out;
    filter: brightness(0.95);
}

/*Styles for the Image Placement(s)-------------------*/

#indexBanner {
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(Website_Image_Assets/Banner.jpg);
    background-size: 100% 100%;
    margin-bottom: 2em;
    justify-content: center;
    border-radius: 12px;
}

#Bookshelf_L,
#Bookshelf_R {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
    background-repeat: repeat-y;
    background-size: 50%;
    z-index: -1;
    filter: opacity(0.75);
}

#Bookshelf_R {
    right: 0;
    background-image: url(Website_Image_Assets/Bookshelf_L.png);
    background-position: calc(100% + 40px) top;
}

#Bookshelf_L {
    left: 0;
    background-image: url(Website_Image_Assets/Bookshelf_L.png);
    background-position: -40px top;
}

/*Styles for the Webpage Content-------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    color: #ffc680;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #240b26, #6c2471);
    background-repeat: no-repeat;
}

/*Styles for the Main Content Sec.*/
main {
    padding-left: 1em;
    padding-right: 1em;
}

/*Styles for the List(s) Content
Unordered Ordered*/
ul,
ol {
    color: #e7b7ff;
}

/*List Item under Unorder and Order List*/
li {
    padding-bottom: 1em;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

/*Detailed Term */
/*Detailed List dl*/
dt {
    color: #ffc680;
    font-size: 1.2em;
    padding-bottom: 0.2em;
    margin-right: 0.5em;
    letter-spacing: 0.08em;
}

dd {
    color: #e7b7ff;
}

.custom-list-style-3 {
    list-style-type: disc;
    list-style-position: outside;
    text-indent: 0;
    letter-spacing: 0.08em;
    line-height: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    margin-left: 0.6em;
}

.Qs {
    color: #ff9a5b;
    background-color: #4c214f;
    font-size: 1.5em;
    margin: 2px 2px 2px 2px;
    padding: 10px 10px;
    border-radius: 15px;
    line-height: 1.3em;
}

.As {
    color: #e385f3;
    font-size: large;
    font-weight: 400;
    line-height: 1.75em;
    text-indent: 2em;
    margin-top: 0.5em;
}

/*Class Selectors for List */
.custom-list-style-1 {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1.5em;
}

.custom-list-style-1 li {
    text-indent: -1.5em;
    padding-left: 1.5em;
}

.reasons-list-style-1 {
    padding-left: 15px;
    padding-top: 0.7em;
}

.custom-list-style-2 {
    padding-right: 1em;
}

.special-bullets {
    list-style-image: url(Website_Image_Assets/bullet_io/bullet.ico);
    margin-left: 20%;
    margin-bottom: 4em;
}

/*Styles for the Interactive Sec.-------------------*/



/*Styles for the Footer Sec.-------------------*/
footer {
    color: #cfdcfd;
    font-size: 85%;
    text-align: center;
    margin: 2em 2em 4em 2em;
}

/*Styles for Tables Elm. ----------------------*/
table {
    border: 3.5px solid #abb5d0;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #443178;
    color: #d1deff;
}

tr:nth-of-type(odd) {
    background: rgb(93, 72, 133);
}

th {
    background-color: #312454;
}

td,
th {
    padding: 0.5em;
    border: 3.5px solid #abb5d0;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.03em;
}

td dl {
    text-align: left;
}

.example {
    font-size: 2em;
    color: #ffffff;
}

.text-example {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
}

.number-example {
    font-size: 3em;
    color: #ffffff;
}

.small-note {
    color: #d1deff;
    font-size: 87%;
}

.table-meaning {
    color: #fad7ff;
    text-align: left;
}

.smaller-table {
    width: 100%;
    height: 30%;
    margin-left: auto;
    margin-right: 0;
    font-size: 0.85em;
}

/*Style for the Site-------------------*/
html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

p {
    width: 70%;
    font-size: large;
    text-indent: 2em;
    line-height: 1.75em;
    background-color: #4c214f;
    margin: 2px auto;
    padding: 30px 30px 30px 30px;
    border-radius: 15px;
    letter-spacing: 0.06em;
}

.section-indent {
    padding-left: 2em;
}

.disclaimer {
    margin: auto;
    margin-top: 2em;
    background-color: #443178;
    color: #fff;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-indent: 0;
    line-height: 1.5em;
}

/*Form edits-------------------*/
form {
    max-width: 1000px;
    width: 100%;
    margin-top: 2em;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    border: 3px dotted #ec426d;
    padding: 1.5em;
    background-color: #443178;
}

.name-info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.first-name-input,
.last-name-input {
    display: flex;
    flex-direction: column;
}

.email-input {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 0.6em;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #ffffff;
    color: #000;

}

.textarea-field {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    grid-column: 1/ -1;
}

.textarea-field textarea {
    width: 100%;
    padding: 0.6em;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #ffffff;
    color: #000;
    resize: vertical;
}

.rating-group {
    display: flex;
    align-items: center;
    gap: 0.8em;
    grid-column: 1/ -1;

}

.rating-group input[type="number"] {
    width: 5em;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000;
}

.textarea-field label,
.rating-group label {
    font-weight: bold;
    color: #ffc680;
}

label {
    margin-bottom: 0.4em;
    font-weight: bold;
}


/* FORM POSITIONING */
.form-position {
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}


.form-position form {
    padding: 1em;
    border-radius: 12px;
    background-color: #443178;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}




/*DiV IDs and CLASSES------------------------------*/
#wrapper {
    background-color: #5a2b5d;
    background-repeat: no-repeat;
}

.submit-button-fixed {
    padding: 1em 0;
    display: flex;
    justify-content: center;
}

.button-position {
    display: flex;
    justify-content: center;
    margin: 0em 0;
    padding: 0 0;
}

.better-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 0 0 0;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.book-debt-logo {
    width: 160px;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

/*Styles for Media Format(s)-------------------*/

/*Smaller Screens ie. Phones*/
@media (max-width: 599px) {

    #wrapper {
        margin: auto;
        width: 90%;
        border: 2px solid #2e0e24;
        box-shadow: 0.1em .5em 0.5em #ee8dff;
    }

    h1 {
        margin: 0;
        padding: .5em .5em;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav li {
        margin: 0.5em 0;
        /* Space between links */
        border: 2px solid #902c45;
        width: 90%;
        text-align: center;


    }

    /*Form Section*/

    form {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto 2em auto;
    }

    label,
    input,
    textarea,
    select {
        width: 100%;
        margin-bottom: 1em;
    }

    /*DO NOT CHANGE*/
    .form-position {
        display: flex;
        justify-content: center;
        margin-top: 2em;
        padding: 1em 0;
    }

    .form-position form {
        width: 100%;
        max-width: 30em;
        padding: 1em;
        border-radius: 12px;

    }


}

/*medium Screens*/
@media(min-width: 600px) {

    #wrapper {
        margin: auto;
        width: 75%;
        border: 2px solid #2e0e24;
        box-shadow: 0.2em 0.1em 0.5em #ee8dff, -0.2em 0.2em 0.5em #ee8dff;
    }

    h1 {
        margin: 0;
        padding-left: 0.5em;
        padding-bottom: 0;
        font-size: 2.6em;

    }

    /*Navagation Section*/
    nav {
        margin-top: 0;
        margin-bottom: 0.9em;
        text-align: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    nav li {
        margin: 0.5em;
        /* Space between links */
        border: 3px solid #ac2e4e;
        width: 100%;
        text-align: center;
        padding: 0.2em;
    }

    nav a {
        align-items: center;
    }


    /*FAQ SEC*/
    .faq-container {
        display: flex;
        gap: 2em;
        flex-direction: row;
        margin-top: 2em;
        align-items: flex-start;
    }

    /*In-Page Nav edits*/
    .faq-sidebar {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        background-color: #694f9b8d;
        border-radius: 20px;
        min-width: 100px;
        width: 30%;
        position: top left;
        top: 2em;
    }

    .faq-sidebar ul {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        list-style-image: url(Website_Image_Assets/bullet_io/bullet.ico);
        padding: 0;
        margin: 0;
    }

    .faq-sidebar li {
        border: none;
        margin-bottom: 1em;
        margin-left: 7em;
        padding-right: 3.5em;
        text-align: left;
        line-height: 1.5em;
        font-size: 20px;
    }

    .faq-sidebar nav a:link,
    .faq-sidebar a:visited {
        color: #ffc680;
        text-decoration: none;
        font-size: medium;
        font-weight: bold;
    }

    .faq-sidebar a:hover {
        color: #fdebd7;
        text-decoration: none;
    }

    /*Keep to Adjust colum
    Section for Colums*/
    section {
        flex: 1;
        margin-left: .6em;
        margin-right: .6em;
        padding-top: 1em;
        background-color: #694f9b8d;
        border-radius: 20px;
    }

    /*Adjust colums to Page size*/
    .flow {
        display: flex;
        flex-direction: row;
    }

    /*Flipping Forum*/
    .faq-content {
        flex: 1;
    }

}
